<h1></h1>
<div class="ui green horizontal label"><h2>大数据: <%=@year%>年 学员考试成绩分析</h2></div>

<br><br>

<%= form_tag do %>

    <%= select_tag(:year, options_for_select([['2013年', '2013'], ['2014年', '2014'], ['2015年', '2015'],['2016年', '2016']], @year),   {class:"select optional ui selection dropdown"}) %>

    <%= submit_tag("统计数据",{class:'ui green button'}) %>

<%end%>

<div class="ui  basic vertical fluid accordion">
  <!--成绩统计 块-->
    <div class="active title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label">成绩统计</a>

    </div>
    <div class="active content">

      <table class ="ui celled collapsing table segment">
        <thead>
        <tr>

          <th>学员</th>
          <th>参加的培训班</th>
          <th >类别</th>
          <th >1月</th>
          <th >5月</th>
          <th >6月</th>
          <th >10月</th>
          <th >11月</th>
          <th >12月</th>

        </tr>
        </thead>


        <tbody>
        <% @hash_students_score_trend.each do |key_stu,value_score_results| %>

            <%real_scores = value_score_results[:real_scores]%>

            <tr>
              <td rowspan="5"><%= key_stu.name %></td>
              <td rowspan="5">班级名称</td>

              <td >总分</td>
              <td><%=seek_sat_scores(real_scores,1,'总分')%></td>
              <td><%=seek_sat_scores(real_scores,5,'总分')%></td>
              <td><%=seek_sat_scores(real_scores,6,'总分')%></td>
              <td><%=seek_sat_scores(real_scores,10,'总分')%></td>
              <td><%=seek_sat_scores(real_scores,11,'总分')%></td>
              <td><%=seek_sat_scores(real_scores,12,'总分')%></td>

            </tr>

            <tr>

              <td >Reading</td>
              <td><%=seek_sat_scores(real_scores,1,'Reading')%></td>
              <td><%=seek_sat_scores(real_scores,5,'Reading')%></td>
              <td><%=seek_sat_scores(real_scores,6,'Reading')%></td>
              <td><%=seek_sat_scores(real_scores,10,'Reading')%></td>
              <td><%=seek_sat_scores(real_scores,11,'Reading')%></td>
              <td><%=seek_sat_scores(real_scores,12,'Reading')%></td>
            </tr>
            <tr>

              <td >Math</td>
              <td><%=seek_sat_scores(real_scores,1,'Math')%></td>
              <td><%=seek_sat_scores(real_scores,5,'Math')%></td>
              <td><%=seek_sat_scores(real_scores,6,'Math')%></td>
              <td><%=seek_sat_scores(real_scores,10,'Math')%></td>
              <td><%=seek_sat_scores(real_scores,11,'Math')%></td>
              <td><%=seek_sat_scores(real_scores,12,'Math')%></td>
            </tr>
            <tr>

              <td >Grammar</td>
              <td><%=seek_sat_scores(real_scores,1,'Grammar')%></td>
              <td><%=seek_sat_scores(real_scores,5,'Grammar')%></td>
              <td><%=seek_sat_scores(real_scores,6,'Grammar')%></td>
              <td><%=seek_sat_scores(real_scores,10,'Grammar')%></td>
              <td><%=seek_sat_scores(real_scores,11,'Grammar')%></td>
              <td><%=seek_sat_scores(real_scores,12,'Grammar')%></td>
            </tr>
            <tr>

              <td >Writing</td>
              <td><%=seek_sat_scores(real_scores,1,'Writing')%></td>
              <td><%=seek_sat_scores(real_scores,5,'Writing')%></td>
              <td><%=seek_sat_scores(real_scores,6,'Writing')%></td>
              <td><%=seek_sat_scores(real_scores,10,'Writing')%></td>
              <td><%=seek_sat_scores(real_scores,11,'Writing')%></td>
              <td><%=seek_sat_scores(real_scores,12,'Writing')%></td>
            </tr>

          <tr></tr>


        <% end %>
        </tbody>


      </table>


    </div>



  <!--涨分情况 块-->
    <div class="title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label">涨分情况</a>

    </div>
    <div class="content">
      <table class ="ui celled collapsing table segment">
        <thead>
        <tr>

          <th>语法涨分情况</th>
          <th>数学涨分情况</th>
          <th >阅读涨分情况</th>
          <th >总分涨分情况</th>

        </tr>
        </thead>


        <tbody>
        <tr>
          <%subject_names=['Grammar','Reading','Math','总分']%>

          <% subject_names.each do|subject_name|%>


          <td class="colored_content">
            <!--此单元格显示多个表格,这些表格分组显示了语法涨分情况-->
            <%students =@hash_students_score_trend.keys
              trend_ranges = [0...50,50...100,100...150,150...200]
            %>
            <%hash_grp=students.group_by{|stu|
              score_trend_result = @hash_students_score_trend[stu]
              trend_result = stu.get_trend_result_by_subject_name(subject_name,score_trend_result)

              helper__summary_value_in_which_range(trend_result,trend_ranges) #值为'0~50分'或'200分以上'或...
            }
            %>


            <%score_block =helper__range_block_summary_text(trend_ranges).reverse %>

            <%score_block.each do|key_string|%>
                <%stu_list = hash_grp[key_string] ||[] %>
                <table class ="ui celled collapsing table segment">

                  <thead>

                  <tr>
                    <th colspan="3" >进步<%=key_string%> <%=stu_list.count%>个</th>
                  </tr>

                  <tr>

                    <th></th>
                    <th>最高分</th>
                    <th >分数变化</th>

                  </tr>

                  </thead>


                  <tbody>

                  <%stu_list.each do |stu|%>
                    <tr>
                      <td><%=stu.name%></td>
                      <%method_name = subject_name.downcase%>
                      <%method_name = 'total' if subject_name =='总分'%>

                      <td><%=@hash_students_score_trend[stu].fetch(('max_real_score_sat_' + method_name).to_sym)%></td>
                      <td><%=@hash_students_score_trend[stu].fetch(('score_trend_sat_'+ method_name).to_sym)%></td>

                    </tr>

                  <%end%>
                  </tbody>
                </table>
            <%end%>

          </td>
          <%end%>

        </tr>

        </tbody>
      </table>

    </div>


  <!--最高分数 块-->
    <div class="title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label">最高分数</a>

    </div>
    <div class="content">
      <table class ="ui celled collapsing table segment">
        <thead>
        <tr>

          <th>语法最高分</th>
          <th>数学最高分</th>
          <th >阅读最高分</th>
          <th >总分最高分</th>

        </tr>
        </thead>


        <tbody>
        <tr>
          <%subject_names=['Grammar','Reading','Math']%>

          <% subject_names.each do|subject_name|%>

              <td class="colored_content">
                <!--此单元格显示多个表格,这些表格分组显示了语法涨分情况-->


                <%students =@hash_students_score_trend.keys
                  sat_subject_score_ranges = [0...350,350...400,400...450,450...500,500...550,550...600,600...650,650...700]
                %>
                <%hash_grp=students.group_by{|stu|
                  score_trend_result = @hash_students_score_trend[stu]
                  max_value = stu.get_subject_max_by_subject_name(subject_name,score_trend_result)
                  helper__summary_value_in_which_range(max_value,sat_subject_score_ranges) #值为'0~50分'或'200分以上'或...
                }
                %>


                <%score_block =helper__range_block_summary_text(sat_subject_score_ranges).reverse %>
                <%score_block.each do|key_string|%>
                    <%stu_list = hash_grp[key_string] ||[] %>
                    <table class ="ui celled collapsing table segment">

                      <thead>

                      <tr>
                        <th colspan="3" ><%=key_string%> <%=stu_list.count%>个</th>
                      </tr>

                      <%if stu_list.count >0%>
                      <tr>
                        <th></th>
                        <th>最高分</th>
                      </tr>
                      <%end%>

                      </thead>


                      <tbody>

                      <%stu_list.each do |stu|%>
                          <tr>
                            <td><%=stu.name%></td>
                            <%method_name = subject_name.downcase%>
                            <td><%=
                                @hash_students_score_trend[stu].fetch(('max_real_score_sat_' + method_name).to_sym)
                               %></td>


                          </tr>

                      <%end%>
                      </tbody>
                    </table>
                <%end%>

              </td>

          <%end%>

          <td class="colored_content">
            <!--此单元格显示多个表格,这些表格分组显示了总分最高分情况-->
            <%students =@hash_students_score_trend.keys
              sat_total_score_ranges = [0...1900,1900...2000,2000...2100,2100...2200,2200...2300]
            %>
            <%hash_grp=students.group_by{|stu|
              score_trend_result = @hash_students_score_trend[stu]
              max_value = stu.get_subject_max_by_subject_name('总分',score_trend_result)
              helper__summary_value_in_which_range(max_value,sat_total_score_ranges) #值为'0~50分'或'200分以上'或...
            }
            %>


            <%score_block =helper__range_block_summary_text(sat_total_score_ranges).reverse %>

            <%score_block =['2300分以上','2200分~2300分','2100分~2200分','2000分~2100分','1900分~2000分','1900分以下']%>

            <%score_block.each do|key_string|%>
                <%stu_list = hash_grp[key_string] ||[] %>
                <table class ="ui celled collapsing table segment">

                  <thead>

                  <tr>
                    <th colspan="3" ><%=key_string%> <%=stu_list.count%>个</th>
                  </tr>

                  <%if stu_list.count >0%>
                  <tr>

                    <th></th>
                    <th>最高分</th>


                  </tr>
                  <%end%>

                  </thead>


                  <tbody>

                  <%stu_list.each do |stu|%>
                      <tr>
                        <td><%=stu.name%></td>

                        <td><%=
                            @hash_students_score_trend[stu].fetch(:max_real_score_sat_total)
                           %></td>


                      </tr>

                  <%end%>
                  </tbody>
                </table>
            <%end%>

          </td>
        </tr>

        </tbody>
      </table>

    </div>


</div>