<fieldset>


  <div class="inline fields">


    <div class="field">
      <%= f.label "科目名称" %>

      <%= f.collection_radio_buttons :name, @subject_types, :first, :last %>
    </div>

    <div class="field">
      <%= f.collection_select :teacher_id, Teacher.all, :id, :name, include_blank: true,input_html:{class: 'ui selection dropdown'} %>

    </div>


    <%= f.hidden_field :_destroy %>     <!-- accepts_nested_attributes_for的删除操作需要提供"_destroy" -->
    <%= link_to "删除", "#", class: "remove_nest_form_field_link  ui tiny red button" %>
  </div>

</fieldset>
