
<h1></h1>
<div class="ui green horizontal label"><h2>讲师<%=@teacher.name %>所属的培训班列表</h2></div>


<table class ="ui celled table segment">
  <thead>
  <tr>

    <th>名称</th>
    <th>编号</th>
    <th>班级类型</th>
    <th>课程类型</th>
    <th>培训教材</th>
    <th>班主任</th>
    <th>学员数量</th>
    <th>模拟考试</th>
    <th>作业</th>
    <th>开课日期</th>
    <th>结束日期</th>

  </tr>
  </thead>

  <tbody>
  <!--将课程以培训班为条件进行分组-->
  <% subject_group= @teacher.subjects.group_by {|sub| sub.training_class } %>

  <% subject_group.each do |training_class ,subs| %>
      <tr>


        <td><%= link_to training_class.name, training_class , {class:'ui purple button'} %></td>
        <td><%= training_class.code %></td>
        <td><%= training_class.exam_type %></td>
        <!--在一条班级记录上显示多个培训课程的名字-->
        <td><%= subs.map{|sub| sub.name}.join('|') %></td>

        <td><%= training_class.text_book.try(:name) %></td>

        <td><%= training_class.master_teacher.nil? ? "":  training_class.master_teacher.name %></td>
        <td><%= training_class.students.count %>人</td>

        <!--#link 培训班的模拟考列表-->
        <td><%=link_to "#{training_class.examinations.count}次",training_class_examinations_path(training_class) %></td>
        <!--#link 培训班的特定课程的作业列表-->
        <td><%=link_to "#{training_class.homeworks.count}次",training_class_homeworks_path(training_class) %></td>
        <td><%= training_class.start_date %></td>
        <td><%= training_class.end_date %></td>



      </tr>
  <% end %>
  </tbody>
</table>

<br>

