<fieldset>


  <div class="ui two fields">
    <div class="ui five fields">
    <%= f.input_field :score_type, type:'hidden',value:'月份目标成绩' %>
    <%= f.input_field :exam_type, type:'hidden',value:'SAT' %>

    <div class="field">
      <%= f.input :final_score ,label: '总分'%>
    </div>
    <div class="field">
      <%= f.input :course_a_score, label: "CR" %>
    </div>
    <div class="field">
      <%= f.input :course_b_score, label: "MATH" %>
    </div>
    <div class="field">
      <%= f.input :course_c_score, label: "WRITING" %>
    </div>


    <%= f.hidden_field :_destroy %>     <!-- accepts_nested_attributes_for的删除操作需要提供"_destroy" -->
    <a href="#" class ="remove_nest_form_field_link"><i class="red close icon"></i></a>
    </div>
  </div>

</fieldset>
