<%= simple_form_for @student,wrapper: :semantic do |f| %>
  <%= f.error_notification %>

    <div class="ui blue ribbon label">(一)  学员基本信息</div>
    <br>

    <%= f.fields_for(:user) do |user_f| %>

        <div class="ui five fields">
            <div class="field">
              <%= user_f.input :name,label:"名称" %>
            </div>

            <div class="field">
              <%= user_f.input :phone_number,label:"手机号" %>
            </div>
          <div class="field">
            <%= f.input :identify_card,label:"身份证号" %>
          </div>

          <div class="field">
            <%= user_f.input :email ,label:"Email"%>
          </div>
          <div class="field">
            <%= f.input :school ,label:"学校"%>
          </div>
        </div>

    <% end %>


    <div class="ui five fields">


      <div class="field">
        <%= f.input :tinypost_number ,label:"微信"%>
      </div>

      <div class="field">
        <%= f.input :qq_number ,label:"QQ"%>
      </div>

      <div class="field">
        <%= f.input :birth_day ,label:"生日"%>
      </div>
    </div>

    <div class="ui five fields">
      <div class="field">
        <%= f.input :parent_name,label:"家长名称" %>
      </div>

      <div class="field">
        <%= f.input :parent_tel ,label:"家长电话"%>
      </div>

      <div class="field">
        <%= f.input :parent2_name,label:"家长名称2" %>
      </div>

      <div class="field">
        <%= f.input :parent2_tel ,label:"家长电话2"%>
      </div>
    </div>





    <div class="ui red ribbon label">(二)  学习背景</div>
    <p></p>
    <div class="ui purple horizontal label">A.学习期望</div>


    <div class="ui five fields">
      <div class="field">
        <%= f.input :school_rank ,label:"申请学校排名"%>
      </div>
    </div>


    <%= f.fields_for(:entry_and_target_scores) do |target_score| %>

        <%unless target_score.object.score_type=='月份目标成绩' %>
        <a class="ui teal circular large label"><%=target_score.object.exam_type %><%= target_score.object.score_type%> </a>


        <div class="ui two fields">
        <div class="ui five fields">


            <%= target_score.input_field :exam_type, type:'hidden' %>
            <%= target_score.input_field :score_type, type:'hidden' %>


          <% if target_score.object.exam_type == 'TOEFL' %>
              <div class="field">
                <%= target_score.input :final_score, label: "总分" %>
              </div>

              <div class="field">
                <%= target_score.input :course_a_score, label: "听力" %>
              </div>

              <div class="field">
                <%= target_score.input :course_b_score, label: "口语" %>
              </div>

              <div class="field">
                <%= target_score.input :course_c_score, label: "阅读" %>
              </div>
              <div class="field">
                <%= target_score.input :course_d_score, label: "写作" %>
              </div>
          <% elsif target_score.object.exam_type == 'SAT' %>

              <div class="field">
                <%= target_score.input :final_score, label: "SAT成绩(总分)" %>
              </div>

              <div class="field">
                <%= target_score.input :course_a_score, label: "CR" %>
              </div>
              <div class="field">
                <%= target_score.input :course_b_score, label: "MATH" %>
              </div>
              <div class="field">
                <%= target_score.input :course_c_score, label: "WRITING" %>
              </div>
          <% end %>

        </div>
        </div>
       <%end%>


    <% end %>

    <a class="ui teal circular large label">SAT月份目标成绩</a>

    <div class="field">
      <!--嵌套表单用于 增改删 相关月份目标期望成绩-->
      <%= f.simple_fields_for :entry_and_target_scores do |builder| %>
          <%if builder.object.score_type=='月份目标成绩' %>
            <%= render 'entry_and_target_score_form_fields', f: builder %>
          <%end%>
      <% end %>
    </div>

    <p><%= link_to_add_nest_form_fields "增加月份目标", f, :entry_and_target_scores %></p>


    <div class="ui purple horizontal label">B.学习进度</div>
    <p></p>
    <div class="ui green circular label">
      1.托福
    </div>

    <div class="ui five fields">
        <div class="field">
          <%= f.input :total_toefl_times,label:"已考试次数" %>
        </div>

      <div class="field">
        <%= f.input :expect_toefl_times, label:"之后希望考试的次数" %>
      </div>
    </div>



    <div class="ui green circular label">
      2.SAT
    </div>

    <div class="ui two fields">
    <div class="ui five fields">
        <div class="field">
          <%= f.input :total_sat_times,label:"已考试次数" %>
        </div>
    </div>


    </div>
    <%if nil %>
        参加培训前做过的考题
        <div class ="field">
          <!--f.association :students,label:"指定学生做过的考题",   as: :check_boxes-->
          <%= collection_check_boxes(:student, :test_paper_ids, TestPaper.all, :id, :name,{},{class:"ui"} ) do |b| %>

              <div class="ui slider checkbox">
                <%= b.check_box + b.label %>
              </div>
              <br>
          <% end %>
        </div>

    <% end %>


  <div class="form-actions">
    <%= f.button :submit ,'保存',inner_html: {class:"ui blue submit button"} %>
    <% if current_user.can_manage_basic_data? %>
        <%= link_to '返回到学员列表', students_path, {class:"ui blue submit button"} %>
    <%end%>
  </div>
<% end %>
