<h1></h1>
<!---->

<div class="ui horizontal green label"><h2>学员列表</h2></div>
<div class="ui blue label">
  共有学员 <%= @students.length %> 人

</div>
<table class ="ui celled collapsing table segment">
  <thead>
    <tr>

      <th>学员名称</th>
      <th>培训班级</th>
      <th>家长联系方式</th>

      <th>联系方式</th>
      <th>创建者</th>
      <%if current_user.employee?%>
      <th colspan="2"></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td>
          <%= link_to student.user.try(:name), student, {class: 'ui purple button'}%>
          <br>
          手机:<%= student.user.try(:phone_number)  %>

        </td>
        <td>

          <%summary_info =student.summary_training_class_names_list %>

          <%=raw build_accordion_block("已参加班级 "+summary_info[0].to_s,summary_info[1]) %>





        </td>
        <td>
          <table class ="ui celled collapsing table segment">
            <tbody>
            <tr>
              <td><%=student.parent_name%></td>
              <td><%=student.parent_tel%></td>
            </tr>
            <tr>
              <td><%=student.parent2_name%></td>
              <td><%=student.parent2_tel%></td>
            </tr>
            </tbody>
          </table>

        </td>

        <td>
          <table class ="ui celled collapsing table segment">
            <tbody>
          <tr>
            <td>身份证</td>
            <td> <%= student.user.try(:identify_card)  %></td>
          </tr>
            <tr>
              <td>QQ</td>
              <td> <%= student.user.try(:qq_number)  %></td>
            </tr>
            <tr>
              <td>微信</td>
              <td> <%= student.user.try(:tinypost_number)  %></td>
            </tr>
            <tr>
              <td>邮箱</td>
              <td> <%= student.user.try(:email)  %></td>
            </tr>
            </tbody>
          </table>
         </td>

        <td><%= student.creator.try(:name) %></td>
        <%if current_user.employee?%>
        <td>
          <%= link_to '修改', edit_student_path(student) ,{class: 'ui green button'}%>
          <%= link_to '设置密码', set_password_user_path(student.user), {class: 'ui blue button'}%>
        </td>
        <td>
          <%if student.freezing_flag%>
            <%= link_to '解冻', unfreezing_student_path(student),{class: 'ui green button', method: :patch }%>
          <%else%>
            <%= link_to '冻结', freezing_student_path(student),{class: 'ui blue button', method: :patch }%>
          <%end%>

          <%= link_to '删除', student,{class: 'ui red button', method: :delete, data: { confirm: '确定删除?' } }%>

        </td>

        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if current_user.employee?%>
<%= link_to '新建学员', new_student_path,{class: 'ui blue button'} %>
<%end%>