<h1></h1>

<div class="ui horizontal label"><h2> 学员信息</h2></div>


<div class="ui  basic vertical fluid accordion">
<!--基本信息-->
  <div class="item">
    <div class="active title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label">基本信息</a>

    </div>
    <div class="active content">
      <p>
        <strong>姓名:</strong>
        <%= @student.name %>
      </p>

      <p>
        <strong>邮箱:</strong>
        <%= @student.user.email %>
      </p>

      <p>
        <strong>手机号:</strong>
        <%= @student.user.phone_number %>
      </p>
    </div>
  </div>

  <!--学员入口成绩和目标成绩-->
  <div class="item">
    <div class="active title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label">入口和目标成绩</a>
    </div>
    <div class="active content">
      <%=render 'scores/entry_and_target_scores'%>
    </div>
  </div>
</div>

<% if current_user.can_set_student_info?(@student) %>
    <%= link_to '设置已考试卷', set_finished_test_papers_student_path(@student), {class: 'ui green button'}%>
    <%= link_to '修改信息', edit_student_path(@student), {class: 'ui blue button'}%>
    <%= link_to '设置密码', set_password_user_path(@student.user), {class: 'ui blue button'}%>
<% end %>

<% if current_user.teacher? || current_user.employee? %>
    <%= link_to '返回到学员列表', students_path,{class: 'ui blue button'} %>
<% end %>