<h1></h1>

<div class="ui horizontal label"><h2> 学员信息</h2></div>


<div class="ui  basic vertical fluid accordion">
<!--基本信息-->
  <div class="item">
    <div class="active title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label">基本信息</a>

    </div>
    <div class="active content">
      <p>
        <strong>姓名:</strong>
        <%= @student.name %>
      </p>

      <p><strong>联系人电话:</strong><%=" #{@student.parent_name}:#{@student.parent_tel} " %></p>
      <p><strong>联系人2电话:</strong><%=" #{@student.parent2_name}:#{@student.parent2_tel} " %></p>
      <p><strong>身份证号:</strong><%= @student.user.try(:identify_card)  %></p>
      <p><strong>手机号:</strong><%= @student.user.try(:phone_number)  %></p>
      <p><strong>qq:</strong><%= @student.user.try(:qq_number) %></p>
      <p><strong>微信号:</strong><%= @student.user.try(:tinypost_number)  %></p>
      <p><strong>Email:</strong><%= @student.user.try(:email)   %></p>
      

    </div>

    <% if current_user.can_set_student_info?(@student) %>
        <%= link_to '设置已考试卷', set_finished_test_papers_student_path(@student), {class: 'ui green button'}%>

        <%= link_to '修改学员信息', edit_student_path(@student), {class: 'ui green button'}%>
        <%= link_to '设置登录密码', set_password_user_path(@student.user), {class: 'ui green button'}%>
        <br><br>
    <% end %>

  </div>


  <!-- 学员TOEFL成绩-->
  <div class="item">
    <div class="active title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label"> TOEFL成绩</a>
    </div>
    <div class="active content">
      <table class ="ui celled collapsing table">
        <thead>
      <tr>
        <th >真实考试成绩 </th>

        <th >入口成绩和期望成绩</th>

      </tr>
      </thead>


        <tr>
          <td>
            <%=render 'real_scores/show',:locals => {
                    exam_type_filter:'TOEFL',
                    real_scores:@student.real_scores.toefl.true_real }%>

            <% if current_user.can_set_student_info?(@student) %>
                <%= link_to '输入 TOEFL 真实考试成绩', set_real_scores_student_path(@student,exam_type:'TOEFL',score_type:'true_real'), {class: 'ui green button'}%>
                <br><br>
            <%end%>
          </td>
          <td>
      <%=render 'real_scores/show',:locals => {
              exam_type_filter:'TOEFL',
              real_scores:@student.real_scores.toefl.entry_and_target_and_month_target }%>

      <% if current_user.can_set_student_info?(@student) %>
          <%= link_to '输入 TOEFL 入口成绩和目标成绩', set_entry_and_target_scores_student_path(@student,exam_type:'TOEFL',score_type:'entry_and_target'), {class: 'ui green button'}%>
          <br><br>
      <%end%>
      </td>

          </tr>
       </table>




    </div>


  </div>

  <!--学员SAT考试成绩-->
  <div class="item">
    <div class="active title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label">SAT成绩</a>
    </div>
    <div class="active content">

      <table class ="ui celled collapsing table">
        <thead>
        <tr>
          <th >真实考试成绩 </th>

          <th >入口成绩和期望成绩</th>

        </tr>
        </thead>


        <tr>
          <td>
            <%=render 'real_scores/show',:locals => {
                    exam_type_filter:'SAT',
                    real_scores:@student.real_scores.sat.true_real}%>
            <% if current_user.can_set_student_info?(@student) %>
                <%= link_to '输入 SAT 真实考试成绩', set_real_scores_student_path(@student,exam_type:'SAT',score_type:'true_real'), {class: 'ui green button'}%>

            <%end%>
          </td>
          <td>
            <%=render 'real_scores/show',:locals => {
              exam_type_filter:'SAT',
              real_scores:@student.real_scores.sat.entry_and_target_and_month_target}%>

              <% if current_user.can_set_student_info?(@student) %>
                  <%= link_to '输入 SAT 入口成绩和目标成绩', set_entry_and_target_scores_student_path(@student,exam_type:'SAT',score_type:'entry_and_target'), {class: 'ui green button'}%>

              <%end%>
</td>

          </tr>
          </table>
    </div>
  </div>

</div>


<% if current_user.teacher? || current_user.employee? %>
    <%= link_to '返回到学员列表', students_path,{class: 'ui blue button'} %>
<% end %>