<!--#此页面展示 指定学员的 某个培训班的 所有的 模考成绩 列表-->


<h1></h1>

<div class="ui green horizontal label"><h2><%=@student.name %> 真实成绩列表</h2></div>

<script>

    <%scores = real_scores_objects_for_nvd3_chart(@student,@exam_type)%>

    data_example =<%=raw wrap_scores_for_nvd3_chart(scores,@exam_type).to_json%>

//    data_example =[{key: "阅读",values: [{x:'入口成绩',y:600},
//        {x:'一月目标',y:600},
//        {x:'二月目标',y:600},
//        {x:'2008年第一次模考',y:602},
//        {x:'2008年第二次模考',y:603},
//        {x:'2008年第三次模考',y:616},
//        {x:'2008年第四次模考',y:616},
//        {x:'2008年第五次模考',y:602},
//        {x:'2008年第六次模考',y:603},
//        {x:'2008年第七次模考',y:616},
//        {x:'2008年第八次模考',y:616},
//        {x:'2008年第九次模考',y:602},
//        {x:'2008年第十次模考',y:603},
//        {x:'2008年第十一次模考',y:616},
//        {x:'2008年第十二次模考',y:616},
//    ] } ,
//        {key: "写作",values: [{x:'入口成绩',y:600},
//            {x:'一月目标',y:600},
//            {x:'二月目标',y:600},
//            {x:'2008年第一次模考',y:602},
//            {x:'2008年第二次模考',y:603},
//            {x:'2008年第三次模考',y:616},
//            {x:'2008年第四次模考',y:616},
//            {x:'2008年第五次模考',y:602},
//            {x:'2008年第六次模考',y:603},
//            {x:'2008年第七次模考',y:616},
//            {x:'2008年第八次模考',y:616},
//            {x:'2008年第九次模考',y:602},
//            {x:'2008年第十次模考',y:603},
//            {x:'2008年第十一次模考',y:616},
//            {x:'2008年第十二次模考',y:616},
//        ] } ,
//        {key: "数学",values: [{x:'入口成绩',y:600},
//            {x:'一月目标',y:600},
//            {x:'二月目标',y:600},
//            {x:'2008年第一次模考',y:602},
//            {x:'2008年第二次模考',y:603},
//            {x:'2008年第三次模考',y:616},
//            {x:'2008年第四次模考',y:616},
//            {x:'2008年第五次模考',y:602},
//            {x:'2008年第六次模考',y:603},
//            {x:'2008年第七次模考',y:616},
//            {x:'2008年第八次模考',y:616},
//            {x:'2008年第九次模考',y:602},
//            {x:'2008年第十次模考',y:603},
//            {x:'2008年第十一次模考',y:616},
//            {x:'2008年第十二次模考',y:616},
//        ] } ]
</script>

<div id='chart1'>
  <svg style='height:500px'> </svg>
  <!--生成统计报表-->
</div>



<div class="ui  basic vertical fluid accordion">
  <!-- 学员入口成绩和目标成绩-->
  <div class="item">
    <div class="active title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label"> 入口和目标成绩</a>
    </div>
    <div class="active content">
      <%=render 'real_scores/show',:locals => {
              exam_type_filter:'TOEFL',
              real_scores:@student.real_scores.toefl.entry_and_target_and_month_target }%>

      <% if current_user.can_set_student_info?(@student) %>
          <%= link_to '输入 TOEFL 入口成绩和目标成绩', set_entry_and_target_scores_student_path(@student,exam_type:'TOEFL',score_type:'entry_and_target'), {class: 'ui red button'}%>
          <br><br>
      <%end%>



      <%=render 'real_scores/show',:locals => {
              exam_type_filter:'SAT',
              real_scores:@student.real_scores.sat.entry_and_target_and_month_target}%>

      <% if current_user.can_set_student_info?(@student) %>
          <%= link_to '输入 SAT 入口成绩和目标成绩', set_entry_and_target_scores_student_path(@student,exam_type:'SAT',score_type:'entry_and_target'), {class: 'ui red button'}%>
          <br><br>
      <%end%>




    </div>


  </div>
  <!--学员真实考试成绩-->
  <div class="item">
    <div class="active title">
      <i class="dropdown icon"></i>
      <a class="ui teal circular large label">真实考试成绩</a>
    </div>
    <div class="active content">
      <%=render 'real_scores/show',:locals => {
              exam_type_filter:'TOEFL',
              real_scores:@student.real_scores.toefl.true_real }%>

      <% if current_user.can_set_student_info?(@student) %>
          <%= link_to '输入 TOEFL 真实考试成绩', set_real_scores_student_path(@student,exam_type:'TOEFL',score_type:'true_real'), {class: 'ui red button'}%>
          <br><br>
      <%end%>



      <%=render 'real_scores/show',:locals => {
              exam_type_filter:'SAT',
              real_scores:@student.real_scores.sat.true_real}%>
      <% if current_user.can_set_student_info?(@student) %>
          <%= link_to '输入 SAT 真实考试成绩', set_real_scores_student_path(@student,exam_type:'SAT',score_type:'true_real'), {class: 'ui red button'}%>

      <%end%>
    </div>
  </div>
</div>






<%= link_to '返回到班级列表', training_classes_path , {class:"ui blue  button"}%>

<script src="/assets/multiBar.js"></script>


