<%= simple_form_for([@training_class,@dictation]) do |f| %>
  <%= f.error_notification %>

<div class="ui five fields">

        <div class="field">
    <%= f.input :passing_line ,label:'听写合格线'%>
        </div>
        <div class="field">
    <%= f.input :execute_date,label:'听写日期' %>
        </div>
</div>
    <%= f.fields_for(:dictation_scores) do |dict_scores_form|%>
        <%student =dict_scores_form.object.student%>
        <div class="ui inline fields">

          <div class="field ">
            <%= dict_scores_form.input_field :student_id, type:'hidden' %>
          </div>

          <div class="field ">
            <% label_text = dict_scores_form.object.score ==0 ? " 听写错误数(未听写)": "听写错误数"%>
            <%= dict_scores_form.input :score,{label: "#{student.name } #{label_text}:",inner_html:{class:"ui red label"}}          %>
          </div>
          <%unless student.dictation_score_pass?(dict_scores_form.object.score,f.object.passing_line)%>
                <div class="field">
                  <div class="field">
                  <label class="ui red label ">不合格</label>
                  </div>
              </div>
          <%end%>
        </div>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit ,'保存听写成绩'%>
  </div>
<% end %>
