<%= simple_form_for(@user) do |user_f| %>
    <%= user_f.error_notification %>


    <div class="filed">
      <%= user_f.input :name,label:"名称" %>
    </div>
    <div class="filed">
      <%= user_f.input :password ,label:"设置密码"%>
    </div>


    <div class="form-actions">
      <%= user_f.button :submit %>
    </div>
<% end %>
