<%= simple_form_for([@training_class,@attendance]) do |f| %>
  <%= f.error_notification %>

    <div class="ui five fields">
        <div class="field">
          <%= f.label '考勤日期'%>
          <%= f.date_field :attendance_date ,{class:'ui tiny input'}%>
        </div>
    </div>

    <%= f.fields_for(:student_attendances) do |stu_atten_form|%>
        <div class="ui inline fields">

          <div class="field ">
            <%= stu_atten_form.input_field :student_id, type:'hidden' %>
          </div>

          <div class="field ">

            <label for="order_pay_type"><%=stu_atten_form.object.student.name%>出勤情况:</label>
            <%= stu_atten_form.collection_select :description,[['出勤','出勤'],['迟到','迟到'],['早退','早退'],['未出勤','未出勤']], :first, :last  %>
          </div>
        </div>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit,'保存考勤信息' %>
  </div>
<% end %>
<%= link_to '返回到班级出勤统计列表', training_class_attendances_path(@training_class),{class:'ui blue button'} %>
